# server's port number
PORT = 4000
BACKEND_URL=http://localhost:4000

# database uri string   
DB_URI = mongodb://localhost:27017/uniq

# email tokens
EMAIL_HOST=tobemodified
EMAIL_PORT=tobemodified
EMAIL_ADDRESS =tobemodified
EMAIL_PASSWORD =tobemodified

CLOUDINARY_NAME=tobemodified 
CLOUDINARY_API_KEY=tobemodified 
CLOUDINARY_SECRET=tobemodified

# jwt and cookie tokens
JWT_SECRET_KEY =incipient@2024